NODE_ENV=development
SESSION_SECRET=Your session secret goes here

PROXY_PORT=8081
MONGO_EXPRESS_DOMAIN=mongo.localhost
BACKEND_DOMAIN=localhost

MONGO_DATABASE=screenapp
MONGO_USERNAME=
MONGO_PASSWORD=

MONGO_HOST=mongo
MONGO_PORT=27017

ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=

FACEBOOK_ID=826861183321
FACEBOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

GOOGLE_ID=640846566374-lvvhe1f7u1gshscli.apps.googleusercontent.com
GOOGLE_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

LINKEDIN_API_KEY=78vt44v
LINKEDIN_SECRET=xxxxxxxxxxxxxxxxxxx

AWS_ACCESS_KEY=nasAWSID
AWS_ACCESS_KEY_SECRET=nasAWSSecret

USER_META_BUCKET=user-meta
USER_RECORDINGS_BUCKET=user-recordings

SMTP_HOST=email-smtp.us-west-2.amazonaws.com
SMTP_USER=xxxxxxx
SMTP_PASSWORD=xxxxxxx

RECEIVER_EMAIL=hello@meetrix.io
SENDER_EMAIL=hello@screenapp.io

CORS_REGEX=localhost:\d{4}$

AUTH_LANDING=http://localhost:8080
API_BASE_URL=http://localhost:8081/v1
SUPPORT_URL=mailto:support@screenapp.io

STRIPE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_FREE_PRICE_ID=xxxxxxxxxxxxxxxxxx
STRIPE_STANDARD_PRICE_ID=xxxxxxxxxxxxxxxxxx
STRIPE_PREMIUM_PRICE_ID=xxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=

PAYPAL_FREE_PLAN_ID=
PAYPAL_STANDARD_PLAN_ID=P-7DA99921G1685913DMBMXRSY
PAYPAL_PREMIUM_PLAN_ID=
